@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

main {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  height: 100vh; /* Ocupa toda a altura da tela */
}

body {
    display: flex;
    flex-direction: column; 
    box-sizing: border-box;
    background-color: #000000;
    color: #f6f6f6;
    height: 100%;
    margin: 0;
    padding: 0;
}
.apresentacao{
    
    gap: 20px; /* Espaçamento entre texto e imagem */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10% 10%;
}  

.apresentacao__conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: 36px;
    font-family: "Krona One", sans-serif;
}
.apresentacao__conteudo__texto{
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}
.titulo-destaque
{
   color: #22d4fd;
}

.imagem img{
    width: 500px; /* Define a largura */
    height: auto;
}

.apresentacao__links {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px; /* Espaçamento entre os botões */
}

presentacao__links__subtitulo {
    font-family: "krana one", sans-serif;
    font-weight: 400;
    font-size: 24px;
}



.apresentacao__links__link {
    /*background-color: #22d4fd;*/
    border: 2px solid #22d4fd;
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    padding: 21.5px 0;
    text-decoration: none;
    color: #f6f6f6;
    font-family: "Montserrat", "sans-serifnt";

}

/*.container {
margin: 20%;	adiciona uma margem para centralizar os quadrados na tela
display: flex;	coloca os quadrados lado a lado 
gap: 10px;	 adiciona espaços iguais entre cada quadrado 
}*/